/* roboto-regular - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('fonts/roboto-v27-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/roboto-v27-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
html, body {
    font-family: 'Roboto';
    font-weight: normal;
    background-color: lightgray;
    color: white;
    font-size: 1em;
    cursor: default;
}

/* header */
.main-menu {
    height: 3em;
    max-width: 100%;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(27, 27, 27);
    white-space: nowrap;
    padding-right: 2rem;
}

.main-menu a, .main-menu a:visited {
    margin-left: 4em;
    color: white;
    text-decoration: none;
    padding: 1em;
    width: 7em;
}

.main-menu a:hover, .main-menu a:active{
    color: rgb(27, 27, 27);
    background-color: white;
}

.banner {
    height: 400px;
    max-width: 100%;
    background-image: url(img/c9462993ae8b28bc81c73b4e44fb792b-1000.jpg);
    background-position: center;
    background-size: cover;
}

.headline {
    width: fit-content;
    position: relative;
    top: 10em;
    left: 2em;
}

h1 {
    font-weight: normal;
    font-size: 3em;
    margin: 0;
}

.headline p {
    margin: 0;
    }

/* footer */

footer {
    height: 3rem;
    background: rgb(27, 27, 27);
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    font-size: calc(1em - 20%);
    color: grey;
}

/* main content */
/* section categories */

main {
    padding: 5% auto;
}

.categories {
    display: flex;
    justify-content: space-around;
}

.cat1, .cat2, .cat3 {
    width: 25vw;
    height: 35vw;
    text-align: center;
    background-position: center;
    background-size: cover;
    /*to center h2*/
    display: table;
    margin: 2em auto;
}

h2 {
    font-weight: normal;
    font-size: 2em;
    text-transform: uppercase;
    /*to center h2*/
    display: table-cell;
    vertical-align: middle;
}

.cat1 {
    background-image: url(img/luchshiy-velosiped-dlya-goroda.jpg);
}

.cat2 {
    background-image: url(img/chem_gornye_1.jpg);
}

.cat3 {
    background-image: url(img/unnamed.jpg);
}

.categories a, .categories a:visited {
    text-decoration: none;
    color: white;
    /*just deco for link animation*/
    filter: brightness(50%);
}

.categories a:hover, .categories a:active {
    transform: scale(1.1);
    /*just deco for link animation*/
    filter: none;
}

/* section goods */

.goods {
    padding: 5vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.line1, .line2, .line3 {
    margin: 3em auto;
    height: 20em;
    width: 90vw;
    display: flex;
    justify-content: space-around;
}

.l1left, .l2left, .l3left {
    height: 100%;
    width: 30vmax;
    background: white;
    margin-right: 5vmin;
}

.l1right, .l2right, .l3right {
    height: 100%;
    width: 30vmax;
    background: white;
}

.img {
    height: 100%;
    width: 50%;
    float: left;
    margin-right: 2vmin;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.description {
    height: 90%;
    margin: 1vmin;
    overflow: hidden;
    /*gradient*/
    background: linear-gradient(to bottom, rgb(27, 27, 27) 50%, rgba(255, 255, 255, 0) 100%);
    -webkit-background-clip: text;
    color: transparent;
}

h3 {
    font-weight: normal;
    font-size: calc(2em - 10%);
    margin-top: 1vmin;
}

.goodie1 {
    background-image: url(img/bike_c4.gif);
}

.goodie2 {
    background-image: url(img/bike_c3.gif);
}

.goodie3 {
    background-image: url(img/bike_c5.gif);
}

.goodie4 {
    background-image: url(img/bike_c6.gif);
}

.goodie5 {
    background-image: url(img/bike_c7.gif);
}

.goodie6 {
    background-image: url(img/bike_c8.gif);
}

.goods a, .goods a:visited {
    text-decoration: none;
    /*just deco for link animation*/
    filter: brightness(83%);
}

.goods a:hover, .goods a:active {
    transform: scale(1.2);
    /*just deco for link animation*/
    filter: none;
}

/* additional decorations */
::selection {
    background: grey;
    color: white;
}

/* for smartphones */ 
@media (max-width: 500px) {
    /*header*/
    .main-menu {
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        background: none;
        padding: 0;
        margin-bottom: 1em;
    }

    .main-menu a, .main-menu a:visited {
        margin: 0;
        background: rgb(27, 27, 27);
        width: 100%;
    }
    
    .headline{
        top: 18em;
        left: 1em;
    }

    h1 {
       font-size: calc(3em - 50%);
    }

    /*footer*/
    footer {
        position: static;
        flex-direction: column;
        justify-content: space-around;
        height: auto;
        padding: 1rem;
        text-align: right;
    }

    /*main content*/
    .categories {
        flex-direction: column;
        margin: 1em auto;
    }

    .cat1, .cat2, .cat3 {
        width: 100%;
        height: 35vw;
        margin: 0;
    }

    .cat1, .cat2 {
        margin-bottom: 1vmin;
    }

    .line1, .line2, .line3 {
        flex-direction: column;
        height: auto;
        margin: 0;
    }

    .l1left, .l2left, .l3left, .l1right, .l2right, .l3right {
        height: 50vw;
        width: 90vw;
        margin: 0;
    }

    .description {
        width: 40vw;
    }
    
}

/* for tablets */
@media (max-width: 1024px) {
    /*main content*/
    .categories {
        flex-direction: column;
        margin-top: 5vmin;
        padding: 0 5vmin;
    }

    .cat1, .cat2, .cat3 {
        width: 100%;
        height: 35vw;
        margin: 0;
    }

    .cat2, .cat3 {
        margin-top: 5vmin;
    }

    h2 {
        font-size: 3em;
    }

    .description {
        width: 40%;
    }

    h3 {
        font-size: calc(2em - 40%);
    }
}